<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="/javascripts/jquery.js" charset="utf-8"></script>
<script src="/javascripts/popper.js" charset="utf-8"></script>
<script src="/javascripts/bootstrap.min.js" charset="utf-8"></script>
<script src="../javascripts/live.js" charset="utf-8"></script>
</body>

</html>
