<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="icon" href="/images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/stylesheets/card.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/notes.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <title>Contacts - Company Name</title>
  <style>
  </style>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/">
          <img src="../images/logo.png" alt="" width="100px">
        </a>
      </div>
      <div class=" ">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="mailto:useryour@mailaddress.com">Request Change</a></li>
          <li><a id="zoznam" href="../pdf/">Download PDF</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="deco topdeco">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
